<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Mazdoor.com</title>
	<link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" href="css/fonts/stylesheet.css" />
	<link rel="stylesheet" href="css/fonts/fonts.css" />
	<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
	<link rel="stylesheet" href="css/animat/animate.min.css" />
	<link rel="stylesheet" href="css/fancybox/jquery.fancybox.css" />
	<link rel="stylesheet" href="css/nivo-lightbox/nivo-lightbox.css" />
	<link rel="stylesheet" href="css/themes/default/default.css" />
	<link rel="stylesheet" href="css/owl-carousel/owl.carousel.css" />
	<link rel="stylesheet" href="css/owl-carousel/owl.theme.css" />
	<link rel="stylesheet" href="css/owl-carousel/owl.transitions.css">
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/responsive.css" />
	<script
  src="http://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
       <style>
     
    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
</head>
<body>

	<div class='preloader'><div class='loaded'>&nbsp;</div></div>
	
	<header id="home" class="header">
		<div class="main_menu_bg navbar-fixed-top">
			<div class="container">
				<div class="row">
					<div class="nave_menu">
					<nav class="navbar navbar-default">
					  <div class="container-fluid">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
						  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						  </button>
						  <a class="navbar-brand" href="#">
							<div class="logo">
								<img src="http://place-hold.it/200x50" alt="" />
							</div>
						  </a>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						  
						  <ul class="nav navbar-nav navbar-right">
							<li class="active"><a href="#home">Home</a></li>
							<li><a href="#abouts">ABOUT</a></li>
							<li><a href="#wedos">What We Provide</a></li>
							<li><a href="#mixitup1">Get Labour</a></li>
                              <li><a href="#signup-tab-content">SignUp|Login</a></li>
                              <!--li><a href="#login-tab-content">Log In</a></li-->
							<li><a href="#contact">Contact</a></li>
							
						  </ul>
						</div><!-- /.navbar-collapse -->
					  </div><!-- /.container-fluid -->
					</nav>
					</div>	
				</div><!--End of row -->
				
			</div><!--End of container -->
			
		</div>
	</header> <!--End of header -->
	
	
	
	<section id="banner" class="banner">
		<div class="container">
			<div class="row">
				<div class="main_banner_area text-center">
					<div class="col-md-12 col-sm-12">
						<div class="single_banner_text wow zoomIn" data-wow-duration="1s">
							<h2>EXPLORE    .    HIRE   .    PAY</h2>
							<h5>GET RIGHT MAN FOR THE RIGHT WORK AT RIGHT TIME</h5>
							
							<div class="separetor"></div>
						</div>
					</div>
					
					
					<div class="scrolldown">
						<a href="#abouts" class="scroll_btn"></a>
					</div>
				</div>
				
				
			</div>
		</div>
	</section><!-- End of Banner Section -->
	
	
	<section id="abouts" class="abouts">
		<div class="container">
			<div class="row">
				<div class="main_abouts_content">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="single_abouts wow fadeInLeft" data-wow-duration="1s">
							<h2>ABOUT MAZDOOR</h2>
							<div class="separetor2"></div>
							<p>We bring the labours and public together in one place.Register yourself and be a part of our family work independently and at reasonable prices.Our mission is that every one in India in need of labour work should be able to connect with public independently and easily.</p>
							
							<a href="" class="btn pink-btn">LERAN MORE !</a>
						</div>
					</div>
					
					
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="single_abouts wow fadeInRight" data-wow-duration="1s">
							<img src="images/website.JPG"  alt="About" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
     <div class="clierboth"></div>
	
	 <div class="form-wrap" style="width: 50%">
		<div class="tabs">
			<h3 class="signup-tab" style="font-family: verdana header;color:#E3AE57"><a class="active" href="#signup-tab-content" style="color:#763A7A;font-weight:bold">SignUp</a></h3>
			<h3 class="login-tab" style="font-family: verdana header;color:#E3AE57"><a href="#login-tab-content" style="color:#763A7A;font-weight:bold">Login</a></h3>
		</div><!--.tabs-->

		<div class="tabs-content" >
			<div id="signup-tab-content" class="active">
				<form class="signup-form" action="" method="post">
                    <input type="radio" name="user_type" autocomplete="off" ><span style="font-size:20px;font-weight:bold;font-family: Georgia;color:#d02552">Normal User</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="user_type" autocomplete="off"><span style="font-size:20px;font-weight:bold;text-align:right;font-family:Georgia;color:#d02552">Labourer</span>
					<input type="text" class="input" name="user_name" autocomplete="off" placeholder="Name" required style="background: #fffdd0">
					<input type="number" class="input" name="user_mob" autocomplete="off" placeholder="Mobile No" required style="background: #fffdd0">
					<input type="password" class="input" name="user_pass" autocomplete="off" placeholder="Password" required style="background: #fffdd0">
                    <input type="password" class="input" name="cuser_pass" autocomplete="off" placeholder="Confirm Password" required style="background: #fffdd0">
                   <!--input type="text" class="input" id="user_loc" autocomplete="off" placeholder="Location" required-->
                    <br><label class="dropdown" style="background: #fffdd0;
             ">
    <select name="Location" required style="background: #fffdd0" >
        <option>Location</option>
        <option>Ludhiana</option>
        <option>Chandigarh</option>
    </select>
</label><br>
                    <br>
                    <input type="email" class="input" name="user_email" autocomplete="off" placeholder="Email(optional)" required style="background: #fffdd0">
					<input type="submit" class="button" value="Sign Up">
				</form><!--.login-form-->
				<div class="help-text">
					<p>By signing up, you agree to our</p>
					<p><a href="#">Terms of service</a></p>
				</div><!--.help-text-->
			</div><!--.signup-tab-content-->

			<div id="login-tab-content">
				<form class="login-form" action="" method="post">
                    <input type="radio" name="user_type" autocomplete="off"><span style="font-size:20px;font-weight:bold;font-family: Georgia;;color:#d02552">Normal User</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="user_type" autocomplete="off"><span style="font-size:20px;font-weight:bold ;font-family: Georgia; text-align: left;;color:#d02552">Labourer</span>
					<input type="number" class="input" name="user_login" autocomplete="off" placeholder="Mobile No." required style="background: #ffedcc">
					<input type="password" class="input" name="user_pass" autocomplete="off" placeholder="Password" required style="background: #ffedcc">
					<!--input type="checkbox" class="checkbox" id="remember_me">
					<label for="remember_me">Remember me</label-->

					<input type="submit" class="button" value="Login">
				</form><!--.login-form-->
				<div class="help-text">
					<p><a href="#" style="color:#222930;font-weight:bold">Forget your password?</a></p>
				</div><!--.help-text-->
			</div><!--.login-tab-content-->
		</div><!--.tabs-content-->
	</div><!--.form-wrap-->
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script>
    jQuery(document).ready(function($) {
	tab = $('.tabs h3 a');

	tab.on('click', function(event) {
		event.preventDefault();
		tab.removeClass('active');
		$(this).addClass('active');

		tab_content = $(this).attr('href');
		$('div[id$="tab-content"]').removeClass('active');
		$(tab_content).addClass('active');
	});
});
    </script>
    <div class="clierboth"></div>
	
	<section id="wedos">
		<div class="container">
			<div class="row">
				<div class="head_title text-center wow fadeIn" data-wow-duration="1.5s">
					<h2>WHAT WE PROVIDE</h2>
					<div class="separetor"></div>
					<!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry been the industry's standard dummy text </p> -->
				</div>
				<div class="wedo_content_area">
					
					<div style="margin-top: 14px;" class="col-md-6 col-sm-6 col-xs-12">
						<a href="#labour-form" id="construction">
                        <div style="background-image: url('./images/construction.jpg');background-size: contain;background-repeat: no-repeat;height: 300px;">
							<!-- <div class="single_left_icon">
								<a href=""><i class="fa fa-star"></i></a>
							</div> -->
							
							<!-- <div class="single_right_text">
								<h4>CONSTRUCTION</h4>
								<div class="separetor2"></div>
								<p>Get worker who specializes in building work</p>
							</div> -->
						</div>
                        </a>
					</div>
					<div style="margin-top: 14px;" class="col-md-6 col-sm-6 col-xs-12">
                        <a href="#labour-form" id="carpentry">
						<div style="background-image: url('./images/carpentry.jpg');background-size: contain;background-repeat: no-repeat;height: 300px;">
							<!-- <div class="single_left_icon">
								<a href=""><i class="fa fa-star"></i></a>
							</div> -->
							
							<!-- <div class="single_right_text">
								<h4>CONSTRUCTION</h4>
								<div class="separetor2"></div>
								<p>Get worker who specializes in building work</p>
							</div> -->
						</div>
                        </a>
					</div>
					<div style="margin-top: 14px;" class="col-md-6 col-sm-6 col-xs-12">
                        <a href="#labour-form" id="electrician">
						<div style="background-image: url('./images/electrician.jpg');background-size: contain;background-repeat: no-repeat;height: 300px;">
							<!-- <div class="single_left_icon">
								<a href=""><i class="fa fa-star"></i></a>
							</div> -->
							
							<!-- <div class="single_right_text">
								<h4>CONSTRUCTION</h4>
								<div class="separetor2"></div>
								<p>Get worker who specializes in building work</p>
							</div> -->
						</div>
                        </a>
					</div>
					<div style="margin-top: 14px;" class="col-md-6 col-sm-6 col-xs-12">
                        <a href="#labour-form" id="painter">
						<div style="background-image: url('./images/painter.jpg');background-size: contain;background-repeat: no-repeat;height: 300px;">
							<!-- <div class="single_left_icon">
								<a href=""><i class="fa fa-star"></i></a>
							</div> -->
							
							<!-- <div class="single_right_text">
								<h4>CONSTRUCTION</h4>
								<div class="separetor2"></div>
								<p>Get worker who specializes in building work</p>
							</div> -->
                            </div></a>
					</div>
					<div style="margin-top: 14px;" class="col-md-6 col-sm-6 col-xs-12"><a href="#labour-form" id="plumber">
						<div style="background-image: url('./images/plumber.jpg');background-size: contain;background-repeat: no-repeat;height: 300px;">
							<!-- <div class="single_left_icon">
								<a href=""><i class="fa fa-star"></i></a>
							</div> -->
							
							<!-- <div class="single_right_text">
								<h4>CONSTRUCTION</h4>
								<div class="separetor2"></div>
								<p>Get worker who specializes in building work</p>
							</div> -->
                        </div></a>
					</div>
                    <div style="margin-top: 14px;" class="col-md-6 col-sm-6 col-xs-12"><a href="#labour-form" id="SHIFTING">
						<div style="background-image: url('./images/SHIFTING.jpg');background-size: contain;background-repeat: no-repeat;height: 300px;">
							<!-- <div class="single_left_icon">
								<a href=""><i class="fa fa-star"></i></a>
							</div> -->
							
							<!-- <div class="single_right_text">
								<h4>CONSTRUCTION</h4>
								<div class="separetor2"></div>
								<p>Get worker who specializes in building work</p>
							</div> -->
                        </div></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	
	<section id="counterUp" class="counterUp">
		<div class="counter_overlay">
			<div class="container">
				<div class="row">
					<div class="main_counter_content">
						<div class="col-md-3 col-sm-6 col-xs-12">
							<div class="sinle_counter wow fadeIn" data-wow-duration="1s">
								<h4><i class="fa fa-star"></i><span class="static-counter">24 x 7</span></h4>
								<p>AVAILABLITY</p>
								<div class="separetorwhite"></div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12">
							<div class="sinle_counter wow fadeIn" data-wow-duration="1.8s">
								<h4><i class="fa fa-star"></i><span class="static-counter">22</span></h4>
								<p>USERS REGISTERED</p>
								<div class="separetorwhite"></div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12">
							<div class="sinle_counter wow fadeIn" data-wow-duration="2.2s">
								<h4><i class="fa fa-star"></i><span class="static-counter">86</span></h4>
								<p>LABOURS REGSITERED</p>
								<div class="separetorwhite"></div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12">
							<div class="sinle_counter wow fadeIn" data-wow-duration="2.8s">
								<h4><i class="fa fa-star"></i><span class="static-counter">21</span></h4>
								<p>HAPPY CUSTOMERS</p>
								<div class="separetorwhite"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	
	<section id="featured" class="featured">
		<div class="container">
			<div class="row">
				<div class="head_title text-center wow flipInX" data-wow-duration="1s">
					<h2>OUR FEATURED WORK</h2>
					<div class="separetor"></div>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry been the industry's standard dummy text</p>
				</div>
			</div>
		</div>
		<div class="main_featured_content">
			<div class="col-md-4 col-sm-6 col-xs-12 single_featured_area">
				<div class="single_featured wow fadeIn" data-wow-duration=".5s">
					<img src="images/work.jpg" alt="" />
					<div class="featured_overlay">
						<div class="overlay_content">
							<a href="" class="btn btn-white">VIEW DEATIL</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12 single_featured_area">
				<div class="single_featured wow fadeIn" data-wow-duration=".5s">
					<img src="images/work.jpg" alt="" />
					<div class="featured_overlay">
						<div class="overlay_content">
							<a href="" class="btn btn-white">VIEW DEATIL</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12 single_featured_area">
				<div class="single_featured wow fadeIn" data-wow-duration=".5s">
					<img src="images/work.jpg" alt="" />
					<div class="featured_overlay">
						<div class="overlay_content">
							<a href="" class="btn btn-white">VIEW DEATIL</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	


<div class="clierboth"></div>
        <section id="mixitup1" class="sections get-labour">
            <div class="container">
                <div class="row">
                    <div class="main_mix_content whitebackground ">
                        <div class="head_title text-center">
                            <h2>GET LABOUR</h2>
							<p></p>
                        </div>
                        <div id="labour-form"  class='form' method="post">
						  <p class='field'>
						    <label class='label' for='name'>Full name</label>
						    <input class='text-input' id='full-name' name='name'  type='text' >
						  </p>
						  <p class='field half' style="padding-right: 2px;">
						    <label class='label' for='phone'>Phone</label>
						    <input  minlength="10" maxlength="10" class='text-input' id='labour-phone'  name='phone' type="text">
						  </p>
						  <p class='field half'>
						    <label class='label' for='email'>E-mail</label>
						    <input class='text-input' id='email' name='email' type='text' >
						  </p>
						  <p class='field half' style="padding-right: 2px;">
						    <label class='label'>Estimated Start Date</label>
						    <input class='text-input' id='labour-date' name='date'  type='date' min="2018-4-15" max="2068-4-15" value='mican' style="height:43px">
						  </p>
						  <p class='field half'>
						    <label class='label'>No. Of Labourers Required</label>
						    <input  class='text-input' id='labour-labour' type='text' min="1" max="50">
						  </p>
						  <div class='field'>
						    <label class='label'>Type Of Labour Required</label>
						    <ul class='checkboxes'>
						      <li class='checkbox'>
						        <input class='checkbox-input' id='choice-0' name='choice' type='checkbox' value='carpentry'>
						        <label class='checkbox-label' for='choice-0'>Carpentry</label>
						      </li>
						      <li class='checkbox'>
						        <input class='checkbox-input' id='choice-1' name='choice' type='checkbox' value='construction'>
						        <label class='checkbox-label' for='choice-1'>Construction</label>
						      </li>
						      <li class='checkbox'>
						        <input class='checkbox-input' id='choice-2' name='choice' type='checkbox' value='electrician'>
						        <label class='checkbox-label' for='choice-2'>Electrician</label>
						      </li>
						      <li class='checkbox'>
						        <input class='checkbox-input' id='choice-3' name='choice' type='checkbox' value='painter'>
						        <label class='checkbox-label' for='choice-3'>Painter</label>
						      </li>
						      <li class='checkbox'>
						        <input class='checkbox-input' id='choice-4' name='choice' type='checkbox' value='plumber'>
						        <label class='checkbox-label' for='choice-4'>Plumber</label>
						      </li>
                                <li class='checkbox'>
						        <input class='checkbox-input' id='choice-5' name='choice' type='checkbox' value='SHIFTING'>
						        <label class='checkbox-label' for='choice-5'>Shifting</label>
						      </li>
						    </ul>
						  </div>
						  <p class='field half'>
							<label class='label' for='select'>Location</label>
							<select class='select' id='labour-select' name="location">
							  <option selected value='chandigarh'>Chandigarh</option>
							  <!-- <option value='ludhiana'>Ludhiana</option> -->
							  </select>
							</p>
						  <p class='field'>
						    <label class='label' for='about'>Address</label>
						    <textarea class='textarea' cols='50' id='labour-address' rows='2' name="address"></textarea>
						  </p>
						  <p class='field'>
						    <input id="give-labour" class='button' type='submit' value='Send'>
						  </p>
						</div>
                        <!-- <div class="main_mix_menu">
                            <button class="btn btn-primary filter" data-filter="all">Filter In</button>
                            <button class="btn btn-primary filter" data-filter=".cat1">F1n</button>
                            <button class="btn btn-primary filter" data-filter=".cat2">F1n2</button>
                            <button class="btn btn-primary filter" data-filter=".cat3">F1n3</button>
                            <button class="btn btn-primary filter" data-filter=".cat4">F1n4</button>
                        </div>

                        <div id="test" class="test">
                            <div class="col-md-4 mix cat1 no-padding">
                                <div class="single_mixi_portfolio">
                                    <img src="images/p1.jpg" alt="" />
                                    <div class="mixi_portfolio_overlay">
                                        <div class="overflow_hover_text">
                                            <a href=""><i class="lnr lnr-plus-circle"></i></a>
                                            <h2>Neque Porro Quisquam</h2>
                                            <p>Hover 1</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mix cat2 no-padding">
                                <div class="single_mixi_portfolio">
                                    <img src="images/p2.jpg" alt="" />
                                    <div class="mixi_portfolio_overlay">
                                        <div class="overflow_hover_text">
                                            <a href=""><i class="lnr lnr-plus-circle"></i></a>
                                            <h2>Neque Porro Quisquam</h2>
                                            <p>Hover 1</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mix cat1 cat4 no-padding">
                                <div class="single_mixi_portfolio">
                                    <img src="images/p3.jpg" alt="" />
                                    <div class="mixi_portfolio_overlay">
                                        <div class="overflow_hover_text">
                                            <a href=""><i class="lnr lnr-plus-circle"></i></a>
                                            <h2>Neque Porro Quisquam</h2>
                                            <p>Hover 1</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mix cat3 cat4 no-padding">
                                <div class="single_mixi_portfolio">
                                    <img src="images/p4.jpg" alt="" />
                                    <div class="mixi_portfolio_overlay">
                                        <div class="overflow_hover_text">
                                            <a href=""><i class="lnr lnr-plus-circle"></i></a>
                                            <h2>Neque Porro Quisquam</h2>
                                            <p>Hover 1</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mix cat4 no-padding">
                                <div class="single_mixi_portfolio">
                                    <img src="images/p5.jpg" alt="" />
                                    <div class="mixi_portfolio_overlay">
                                        <div class="overflow_hover_text">
                                            <a href=""><i class="lnr lnr-plus-circle"></i></a>
                                            <h2>Neque Porro Quisquam</h2>
                                            <p>Hover 1</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mix cat1 cat2 no-padding">
                                <div class="single_mixi_portfolio">
                                    <img src="images/p6.jpg" alt="" />
                                    <div class="mixi_portfolio_overlay">
                                        <div class="overflow_hover_text">
                                            <a href=""><i class="lnr lnr-plus-circle"></i></a>
                                            <h2>Neque Porro Quisquam</h2>
                                            <p>Hover 1</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mix cat1 cat3 no-padding">
                                <div class="single_mixi_portfolio">
                                    <img src="images/p7.jpg" alt="" />
                                    <div class="mixi_portfolio_overlay">
                                        <div class="overflow_hover_text">
                                            <a href=""><i class="lnr lnr-plus-circle"></i></a>
                                            <h2>Neque Porro Quisquam</h2>
                                            <p>Hover 1</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mix cat1 cat3 no-padding">
                                <div class="single_mixi_portfolio">
                                    <img src="images/p8.jpg" alt="" />
                                    <div class="mixi_portfolio_overlay">
                                        <div class="overflow_hover_text">
                                            <a href=""><i class="lnr lnr-plus-circle"></i></a>
                                            <h2>Neque Porro Quisquam</h2>
                                            <p>Hover 1</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mix cat1 cat4 no-padding">
                                <div class="single_mixi_portfolio">
                                    <img src="images/p9.jpg" alt="" />
                                    <div class="mixi_portfolio_overlay">
                                        <div class="overflow_hover_text">
                                            <a href=""><i class="lnr lnr-plus-circle"></i></a>
                                            <h2>Neque Porro Quisquam</h2>
                                            <p>Hover 1</p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="gap"></div>
                        </div> -->
                    </div> 

                </div>
            </div>

        </section>

        <div class="clierboth"></div>

        <section id="business" class="business">
		<div class="overlay_business">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="main_business_content text-center wow fadeIn" data-wow-duration="2s">
							<h2>HERE IS YOUR LABOUR</h2>
							<div class="list-type2">
								<ol id="labour-list">
								
								</ol>
							</div>
							<!-- <a href="" class="btn pink-btn">KEEP EXPLORING</a> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
		
<div class="clierboth"></div>
	
	
	
	<section id="testimonial" class="testimonial">
		<div class="testimonial_overlay">
			<div class="container">
				<div class="row">
					<div class="head_title text-center wow slideInDown" data-wow-duration="0.5s">
						<h2>TESTIMONIALS</h2>
						<div class="separetorwhite2"></div>
						<h5>WHAT OUR CLIENT SAY </h5>
					</div>
					<div class="main_testimonial text-center wow fadeIn" data-wow-duration="1s">
						<div class="single_testimonial">
							<div class="single_testimonial_img">
								<img class="img-circle" src="images/user.png" alt="" />
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,m quia.</p>
								<a href="">User</a>
							</div>
						</div>
						<div class="single_testimonial">
							<div class="single_testimonial_img">
								<img class="img-circle" src="images/user.png" alt="" />
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,m quia.</p>
								<a href="">User</a>
							</div>
						</div>
						<div class="single_testimonial">
							<div class="single_testimonial_img">
								<img class="img-circle" src="images/user.png" alt="" />
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,m quia.</p>
								<a href="">User</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
		<!-- Contact form -->
		<section id="contact" class="contact">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<div class="head_title text-center wow zoomIn" data-wow-duration="0.5s">
							<h2>Get In Touch With Us</h2>
							<div class="separetor"></div>
							<p>We are here to help. Want to learn more about our services? Please get in touch, we'd love to hear from you!</p>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="messsage_contant">
						<div class="col-md-7 col-sm-7">
							<div class="single_message_left wow fadeIn" data-wow-duration="1s">
								<!-- <form method="post" action="/contact" id="formid"> -->
										<!--<div class="col-lg-8 col-md-8 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">-->
										  
										 <div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<input id="name" type="text" class="form-control" name="name" placeholder="Name" required="">
												</div>
											</div>
											
											<div class="col-md-6">
												<div class="form-group">
													<input id="phone" type="text" class="form-control" name="phone" placeholder="Phone Number" required="">
												</div>
											</div>
										 </div>
										
										  

										  <div class="form-group">
											<textarea id="message" class="form-control" name="message" rows="8" placeholder="Message"></textarea>
										  </div>

										  <div class="center-content">
											<input id="submit-btn" type="submit" value="SUBMIT" class="btn btn-lg">
										  </div>
										<!--</div>--> 
								<!-- </form> -->
							</div>
						</div>
						
						<div class="col-md-5 col-sm-5">
							<div class="single_message_right wow fadeIn" data-wow-duration="1s">
								
								<p>
									<i class="fa fa-map-marker"></i> 
									Chitkara University ,
									Punjab
								</p>
								<p><i class="fa fa-envelope-o"></i>getmazdoor@gmail.com</p>
								<p><i class="fa fa-phone"></i>+91-1234567890</p>
								
							</div>
						</div>
					</div> <!-- End of messsage contant-->
				</div>
			</div>
		</section>	
	
		<footer id="footer" class="footer">
			<div class="container">
				<div class="row">
					<div class="main_footer text-center wow zoomIn" data-wow-duration="1s">
						<p>Made with <i class="fa fa-heart"></i> by <a href="#">mazdoor.com</a></p>
					</div>
				</div>
			</div>
		</footer>

	<!-- STRAT SCROLL TO TOP -->
	
	<div class="scrollup">
		<a href="#"><i class="fa fa-chevron-up"></i></a>
	</div>
	
	
	
	
	

	<script type="text/javascript" src="js/jquery/jquery.js"></script>
	
	<script type="text/javascript" src="js/script.js"></script>
	
	<script type="text/javascript" src="js/bootstrap/bootstrap.min.js"></script>
	
	<script type="text/javascript" src="js/fancybox/jquery.fancybox.pack.js"></script>
	
	<script type="text/javascript" src="js/nivo-lightbox/nivo-lightbox.min.js"></script>
	
	<script type="text/javascript" src="js/owl-carousel/owl.carousel.min.js"></script>
	
	
	
	
	
	<script type="text/javascript" src="js/jquery-easing/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="js/wow/wow.min.js"></script>
	
	
	<script type="text/javascript" src="js/isotop/isotope.min.js"></script>
	<script type="text/javascript" src="js/isotop/isotop.function.js"></script>
	<script src="https://unpkg.com/sweetalert2@7.19.1/dist/sweetalert2.all.js"></script>
	<script type="text/javascript" src="js/masonry/masonry.min.js"></script>
	
	<script type="text/javascript" src="js/mixitup/jquery.mixitup.min.js"></script>
	<script type="text/javascript" src="js/masonry/masonry.pkgd.min.js"></script>
	<script src="js/main.js"></script>
    <script type="text/javascript">
    $(document.body).on('click','a[href="#labour-form"]',function(){
        
       var val=$(this).attr('id');
        console.log(val);
        $('input').each(function(){
           if($(this).attr('value')==val)
               $(this).attr('checked', 'checked');
        });
       // $('input[value=val]').attr('checked', 'checked');
    });
        
    </script>
</body>
</html>
